<div id="main-content">
    

    <table id="table_body">
        <tr>
           <th>Name</th>
            <th>Email</th>
             <th>Phone</th>
            <th>Appointment</th>
            <th>Appointment Date</th>
            <th>Appointment Time</th>
            <th>Comments</th>
            <!-- Add more headers if needed -->
        </tr>
        {{#each data}}
        <tr>
            <td>
 {{name}}
        </td>
        <td>
 {{email}}
        </td>
        <td>
 {{phone}}
        </td>
        <td>
 {{appointment}}
        </td>
        <td>
 {{appointmentdate}}
        </td>
        <td>
 {{appointmenttime}}
        </td>
        <td>
 {{comment}}
        </td>
      
        </tr>
        {{/each}}
        
        <!-- Add more rows if needed -->
    </table>
</div>

</body>
</html>
<div id="myModal">
  <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <h2>Add Seller</h2>
      <form id="buyerForm" onsubmit="addSeller(event)">
          <label for="buyerName">Name:</label>
          <input type="text" id="sellerName" name="buyerName" required>

          <label for="buyerEmail">Email:</label>
          <input type="email" id="sellerEmail" name="buyerEmail" required>

          <button type="submit">Add Buyer</button>
      </form>
  </div>
</div>

